<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321143199567-a91pmcdo88lg6hqb795psoer2fqrh8kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321143199567-a91pmcdo88lg6hqb795psoer2fqrh8kq</string>
	<key>API_KEY</key>
	<string>AIzaSyA9CHWnr11S2HJqrb1pwfvjSPEKV1_s_No</string>
	<key>GCM_SENDER_ID</key>
	<string>321143199567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testflavor.development</string>
	<key>PROJECT_ID</key>
	<string>flavor-development-a1994</string>
	<key>STORAGE_BUCKET</key>
	<string>flavor-development-a1994.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321143199567:ios:62df74af13cf265c65173a</string>
</dict>
</plist>