<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311471645893-h58cmqfj207p9n4q5l7tgiukqf3utr3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311471645893-h58cmqfj207p9n4q5l7tgiukqf3utr3g</string>
	<key>API_KEY</key>
	<string>AIzaSyBFUph0eFn9uqB4RM1o45YZyE1VIK7b60Q</string>
	<key>GCM_SENDER_ID</key>
	<string>311471645893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testflavor.production</string>
	<key>PROJECT_ID</key>
	<string>flavor-production-73327</string>
	<key>STORAGE_BUCKET</key>
	<string>flavor-production-73327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311471645893:ios:13b68f999b2d764da7bcac</string>
</dict>
</plist>